/Terminus_22XX.sln
/Intermediate
/Binaries
/.vs
/Saved
/Content/StarterContent/Architecture
/Content/StarterContent/HDRI
/Content/StarterContent/Maps
/Content/StarterContent/Materials
/Content/StarterContent/Textures
